{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<main class="text-center relative ">
    <div class="">
        <img src="./img/home_picture.jpg" alt="Voiture" class="home_picture h-full">
    </div>
    <div class="flex flex-col justify-center items-center absolute top-1/4 left-1/4 right-1/4">
        <h1 class=" text-6xl capitalize mb-12 ">Location de voiture dans toute la france</h1>
        <h2 class="text-white bg-zinc-800 opacity-75 py-2 px-4 rounded-lg border-slate-200 border-2 uppercase">
            <a href="#">Dashboard</a>
        </h2>
    </div>
</main>


{% endblock %}
