<aside class="w-1/5 bg-slate-300 border border-slate-300 drop-shadow-lg">
    <div class="main_page relative">    
        <div>
            <div class="my-8">
                <div class="flex justify-start bg-red-800 py-2 px-4 rounded-md">
                    <i class="fa-solid fa-house fa-lg ml-8 mt-3"></i>
                    <p class="text-white ml-3 text-lg capitalize">Dashboard</p>
                </div>
            </div>

            <hr>

            <div class="my-32">
                <div class="flex justify-start my-4 ">
                    <i class="fa-solid fa-car fa-lg ml-12 mt-3"></i>
                    <p class="ml-3 text-lg capitalize">voitures</p>
                </div>
                <div class="flex justify-start my-4">
                    <i class="fa-solid fa-users fa-lg ml-12 mt-3"></i>
                    <p class="ml-3 text-lg capitalize">clients</p>
                </div>
                <div class="flex justify-start">
                    <i class="fa-solid fa-calendar-days fa-lg ml-12 mt-3"></i>
                    <p class="ml-3 text-lg capitalize">réservations</p>
                </div>
            </div>
        </div>


        <div class="absolute bottom-24">
            <div class="flex justify-start">
                <i class="fa-solid fa-right-from-bracket fa-lg ml-12 mt-3"></i>
                <a href="{{path('app_logout')}}" class="ml-3 text-lg capitalize">Déconnexion</a>
            </div>
        </div>
    </div>
</aside>
