<aside class="w-1/5 bg-slate-500 drop-shadow-lg">
    <div class="main_page relative">    
        <div>
            <div class="my-8">
                <div class="flex justify-start bg-amber-600 py-2 px-4 rounded-md">
                    <i class="fa-solid fa-house fa-lg ml-8 mt-3"></i>
                    <a href="{{path('main_page')}}" class="text-white ml-3 text-lg capitalize">Dashboard</a>
                </div>
            </div>

            <hr>

            <ul class="my-32">
                <li class="flex justify-start my-4 hover:bg-amber-600 py-2 px-4 rounded-md">
                    <i class="fa-solid fa-car fa-lg ml-12 mt-3"></i>
                    <a href="{{path('car')}}" class="ml-3 text-lg capitalize">car</a>
                </li>
                <li class="flex justify-start my-4 hover:bg-amber-600 py-2 px-4 rounded-md">
                    <i class="fa-solid fa-users fa-lg ml-12 mt-3"></i>
                    <a href="{{path('customer')}}" class="ml-3 text-lg capitalize">clients</a>
                </li>
                <li class="flex justify-start my-4 hover:bg-amber-600 py-2 px-4 rounded-md">
                    <i class="fa-solid fa-calendar-days fa-lg ml-12 mt-3"></i>
                    <a href="#" class="ml-3 text-lg capitalize">reservations</a>
                </li>
                <li class="flex justify-start hover:bg-amber-600 py-2 px-4 rounded-md">
                    <i class="fa-solid fa-calendar-days fa-lg ml-12 mt-3"></i>
                    <a href="#" class="ml-3 text-lg capitalize">settings</a>
                </li>
            </ul>
        </div>


        <div class="absolute bottom-24">
            <div class="flex justify-start">
                <i class="fa-solid fa-right-from-bracket fa-lg ml-12 mt-3"></i>
                <a href="{{path('app_logout')}}" class="ml-3 text-lg capitalize">Déconnexion</a>
            </div>
        </div>
    </div>
</aside>


